html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(36, 34, 34);
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* part of the css for the tetris zone */

* {
  font-family: "Press Start 2P", cursive;
  color: whitesmoke;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

.H-logo img {
  width: 70px;
}

.H-tittle h1 {
  text-transform: uppercase;
  font-size: 1.7em;
}


.Count_FPS {
  display : flex;
  float: right;
  padding: 1vh;
}

.grid {
  padding: 2.5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data {
  margin-bottom: 4vh;
}

.right-column h1 {
  font-size: 1.6em;
}

.left-column h2 {
  font-size: 1.6em;
}
.game-board {
  border: solid 2px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

#pause-btn {
  display : none
}
#restart-btn {
  display : none
}

.footer {
  display: flex;
  justify-content: center;
}


/* part of CSS : move arrow icon  */

.controls{
  padding: 8px;
}
.arrow-left img {
  width: 36px;
  transform: rotate(-90deg);
}
.arrow-right img {
  width: 36px;
  transform: rotate(90deg);
}
.arrow-down img {
  width: 36px;
  transform: rotate(180deg);
}
.arrow-up img {
  width: 36px;
}
.ESC img {
  width: 36px;
}
.Space img {
  width: 38px;
}
.Enter img {
  width: 38px;
}


/* force zoom to 90% */
.zoomed { 
  zoom: 3; 
  -moz-transform: scale(3); 
  -moz-transform-origin: 0 0;
}